* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 전체 레이아웃 */
/* 카트 아이콘 */
#cart-icon{
  padding: 10px 16px;
  border-radius: 50px;
  position: fixed;
  top: 20px;
  right: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: tomato;
}
.container {
  max-width: 600px;
  margin: 50px auto;
}
.product {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
#cup {
  width: 260px;
  border-radius: 8px;
}
.small {
  width: 72px;
  cursor: pointer;
  margin-right: 8px;
  border: 2px solid transparent;
}
.small.selected {
  border: 2px solid tomato;
}
#desc {
  flex: 1;
}
#cart {
  margin-top: 16px;
  padding: 10px;
  border: 2px dashed #666;
  border-radius: 8px;
}
#total {
  font-weight: bold;
  margin-top: 8px;
}
button {
  background: tomato;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
#view{
    display: block;
    padding-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}
#detail {
    display: none;
  margin-top: 20px;
}
#detail.show{
    display: block;
}
#detail h2, h3{
    margin: 16px 0;
}
#detail ul{
    padding: 30px;
}
#detail li{
    list-style: disc;
}
.bluetext{
  font-weight: bold;
  color: royalblue;
}